<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6 bg-white">

                <div class="card">
                    <h4 class="text-white">To do list</h4>
                </div>
                


                <div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">+</button>
                      </div>

                </div>


            </div>

            <div class="col"></div>

        </div>
    </div>
</div>